body {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: black;
  background: #26bd00 url(https://polissyafc.com/img/bg.jpg) center top
    no-repeat;
}
header {
  color: darkolivegreen;
  margin: 0 auto;
}
p {
  margin: 0 auto;
  width: 1000px;
  color: antiquewhite;
}
#higt-lights {
  p {
   background-color: #379905;
  }
  display: flex;
  frex-direction: column;
  gap: 30px;
}