body{
    background: #3cffef url('img/pexels-danielabsi-952670.jpg') repeat 100% 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 50px;
    text-align: center;
}
h1{
    color: #ffffff;
    text-align: center;
}
p1{
    color: #ffffff;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 150%;
    margin-top: 300px;
}